apiVersion: apps/v1
kind: Deployment
metadata:
  name: fault-catalog-api
  namespace: dev
  labels:
    app: fault-catalog-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fault-catalog-api
  template:
    metadata:
      labels:
        app: fault-catalog-api
    spec:
      containers:
        - name: fault-catalog-api
          image: ghcr.io/janrepar/fault-catalog-api:dev1.0.0
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          env:
            - name: ASPNETCORE_URLS
              value: "http://+:5000"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 15
            periodSeconds: 10
